.btn{
    background-color: blueviolet;
    color: white;
    padding: 16px 36px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
  }
  input{
    width: 100%;
    box-sizing: border-box;
    padding: 17px;
    border:1px solid #ddd;
    border-radius: 12px;
    font-size: 17px;
    margin-bottom: 12px;
  }
  input:focus{
    outline: none;
    border: 1px solid #ccc;
  }
  .container{
    margin: 40px auto;
    width: 600px;
  }